In [1]:
import pandas as pd 
import numpy as np

In [2]:
path="Data Set 2.tsv"

In [3]:
df=pd.read_csv(path,sep='\t')

In [4]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
df.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1228
item_price               0
dtype: int64

In [8]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [9]:
df["item_price"]=df["item_price"].str.replace('$',"")

In [10]:
df.head(30)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
10,5,1,Chips and Guacamole,NaN,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
14,7,1,Chips and Guacamole,NaN,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
18,9,2,Canned Soda,[Sprite],2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
20,10,1,Chips and Guacamole,NaN,4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
24,12,1,Izze,[Grapefruit],3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
28,14,1,Canned Soda,[Dr. Pepper],1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49

In [11]:
df["item_price"]=df["item_price"].astype(float)

In [12]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [13]:
df["item_name"].unique

<bound method Series.unique of 0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4563, dtype: object>

In [14]:
df["choice_description"].fillna("unknown",inplace=True)

In [15]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,unknown,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,unknown,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [16]:
df["choice_description"]=df["choice_description"].str.replace("[","").str.strip()
df["choice_description"]=df["choice_description"].str.replace("]","").str.strip()

In [17]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,unknown,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,unknown,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98

In [18]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,unknown,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,unknown,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98

In [19]:
df["item_name"]=df["item_name"].str.replace('[^a-zA-Z0-9,\s]','',regex=True)
df["choice_description"]=df["choice_description"].str.replace('[^a-zA-Z0-9,\s]','',regex=True)

In [20]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,unknown,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and TomatilloGreen Chili Salsa,unknown,2.39
4,2,2,Chicken Bowl,"TomatilloRed Chili Salsa Hot, Black Beans, Ric...",16.98

In [21]:
df["item_name"].value_counts()

item_name
Chicken Bowl                             717
Chicken Burrito                          546
Chips and Guacamole                      474
Steak Burrito                            365
Canned Soft Drink                        290
Steak Bowl                               210
Chips                                    208
Bottled Water                            155
Chicken Soft Tacos                       111
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              102
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          90
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             65
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chicken Crispy Tacos                      47
Chips and Tomatillo Red Chili Salsa       46
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and TomatilloGreen Chili Salsa      31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      19
Chips and TomatilloRed Chili Salsa        19
Veggie Salad Bowl                         18
Chips and Roasted ChiliCorn Salsa         18
Barbacoa Crispy Tacos                     11
Chicken Salad                              9
Barbacoa Salad Bowl                        9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [22]:
df.reset_index(drop=True,inplace=True)

In [23]:
unique_descriptions = df.groupby(['item_name', 'choice_description'])[['item_price']].mean().reset_index()

In [24]:
unique_descriptions.head(50)

,item_name,choice_description,item_price
0,6 Pack Soft Drink,Coke,6.490000
1,6 Pack Soft Drink,Diet Coke,6.760417
2,6 Pack Soft Drink,Lemonade,6.490000
3,6 Pack Soft Drink,Nestea,6.490000
4,6 Pack Soft Drink,Sprite,6.490000
5,Barbacoa Bowl,"Fresh Tomato Mild, Lettuce, Black Beans, Rice",8.690000
6,Barbacoa Bowl,"Fresh Tomato Mild, Lettuce, Rice, Cheese",8.690000
7,Barbacoa Bowl,"Fresh Tomato Salsa Mild, Black Beans, Rice, Ch...",11.480000
8,Barbacoa Bowl,"Fresh Tomato Salsa Mild, Rice, Cheese, Sour Cr...",8.990000
9,Barbacoa Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Rice, B...",9.250000
10,Barbacoa Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Rice, B...",11.750000
11,Barbacoa Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Rice, B...",11.750000
12,Barbacoa Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Rice, C...",9.250000
13,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Black Beans, Cheese",9.250000
14,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Black Beans, Cheese,...",9.250000
15,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Black Beans, Cheese,...",11.750000
16,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Black Beans, Cheese,...",11.750000
17,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Black Beans, Cheese,...",9.250000
18,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Black Beans, Pinto B...",9.250000
19,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",9.250000
20,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Cheese, Sour Cream, ...",11.750000
21,Barbacoa Bowl,"Fresh Tomato Salsa, Rice, Fajita Vegetables, B...",9.250000
22,Barbacoa Bowl,Guacamole,11.490000
23,Barbacoa Bowl,"Rice, Cheese",8.690000
24,Barbacoa Bowl,Roasted Chili Corn Salsa,9.250000
25,Barbacoa Bowl,"Roasted Chili Corn Salsa Medium, TomatilloRed ...",8.990000
26,Barbacoa Bowl,"Roasted Chili Corn Salsa, Cheese, Lettuce",9.250000
27,Barbacoa Bowl,"Roasted Chili Corn Salsa, Fajita Vegetables, R...",11.750000
28,Barbacoa Bowl,"Roasted Chili Corn Salsa, Fajita Vegetables, R...",11.750000
29,Barbacoa Bowl,"Roasted Chili Corn Salsa, Pinto Beans, Sour Cr...",11.750000
30,Barbacoa Bowl,"Roasted Chili Corn Salsa, Rice, Black Beans, C...",9.250000
31,Barbacoa Bowl,"Roasted Chili Corn Salsa, Rice, Cheese, Lettuce",9.250000
32,Barbacoa Bowl,"Tomatillo Green Chili Salsa, Fajita Vegetables...",11.750000
33,Barbacoa Bowl,"Tomatillo Green Chili Salsa, Fajita Vegetables...",11.750000
34,Barbacoa Bowl,"Tomatillo Green Chili Salsa, Rice, Cheese, Gua...",11.750000
35,Barbacoa Bowl,Tomatillo Red Chili Salsa,9.250000
36,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Black Beans, Cheese...",11.750000
37,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Cheese, Sour Cream,...",11.750000
38,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Fajita Vegetables, ...",11.750000
39,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Fajita Vegetables, ...",11.750000
40,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Rice, Black Beans, ...",9.250000
41,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Rice, Black Beans, ...",9.250000
42,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Rice, Black Beans, ...",9.250000
43,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Rice, Cheese, Lettuce",9.250000
44,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...",9.250000
45,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...",11.750000
46,Barbacoa Bowl,"Tomatillo Red Chili Salsa, Rice, Pinto Beans, ...",9.250000
47,Barbacoa Bowl,"TomatilloGreen Chili Salsa Medium, Black Beans...",11.480000
48,Barbacoa Bowl,"TomatilloGreen Chili Salsa Medium, Roasted Chi...",11.480000
49,Barbacoa Bowl,"TomatilloGreen Chili Salsa Medium, Roasted Chi...",11.480000